Please add <%= version %> to bugs.kde.org product <%= projectName %>

Target: <%= origin %>/<%= projectName %>/<%= version %>

SHA-256:

```
<%= sha256s.join($/) %>
```

SHA-1:

```
<%= sha1s.join($/) %>
```
